<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MOVIEConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\眸asp\眸asp\App_Data\MOVIE.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="seatConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\眸asp\眸asp\App_Data\seat.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>